.sidebar {
    flex-basis: 25%;
    flex-shrink: 1;
    background: var(--light);
    border-width: 5px;
    padding: var(--xs);
}

.menuLabel {
    padding: var(--s);
    flex-basis: fit-content;
    text-align: center;
    
}

.sideItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--m);

    padding: var(--s);
    flex-basis: fit-content;
    border-top: var(--dark) solid 2px;
    background: var(--light);
}

.sideButton {
    height: 15px;
    width: 15px;
}
