@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

.App{
  font-family:'Dosis', sans-serif;
  margin: 0;
  font-size: var(--headFont);
}

:root {
    --primary: #5980d4;
    --light: #d7dce4;
    --white: #fff;
    --dark: #637991;

    --secondary: #b8bac7;
    --secondDark: #25215c;

    --xs: 4px;
    --s: 8px;
    --m: 16px;
    --l: 24px;
    --xl: 32px;

    --headFont: 20px;
    --contentFont: 18px;
    --smallFont: 14px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

.mainContainer {
    display: flex;
    gap: 6%;
    margin: var(--m) 8%;
    align-items: flex-start;
}

.content {
    padding: 0 var(--s);
    flex-grow:3;
    background: var(--secondary);
    border-radius: 4%;
}

img {
    padding: var(--m);
}

.u-textCenter {
    text-align: center;
}
