@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

.App{
  font-family:'Dosis', sans-serif;
  margin: 0;
}

:root {
    --blue: #396dff;
    --grey: #efefef;
    --white: #fff;
    --darkGrey: #b6b6b6;

    --xs: 4px;
    --s: 8px;
    --m: 16px;
    --l: 24px;
    --xl: 32px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

.mainContainer {
    display: flex;
    gap: var(--xl);
    margin: 0 var(--xl);
    padding: var(--l);
    align-items: flex-start;
}

.content {
    padding: var(--s);
    flex-grow:3;
    background: var(--grey);
}

img {
    padding: var(--m);
}

.u-textCenter {
    text-align: center;
}
